{% extends 'platform_for_sharing/includes/basic_design.html' %}
{% load static %}
{% block title %}Регистрация{% endblock %}

{% block header %}
{% include 'platform_for_sharing/includes/header_menu.html' %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">
        Обмен
    </h1>
</div>

{% endblock %}

{% block content %}
<div class="row text-center">
    <div class="col-4"></div>
    <div class="col-4 card mb-4 box-shadow text-center">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Предлагают: {{ exchange.ad_sender_id }}</h4>
        </div>
        <ul class="list-unstyled mt-3 mb-4 text-center m-3">
            <li>- Обмен на: {{exchange.ad_receiver_id}}</li>
            <li>- Статус: {{exchange.status}}</li>
            <li>- Комментарий: {{exchange.comment}}</li>
            <li>- Дата создания: {{exchange.created_at| date:"d.m.Y H:i"}}</li>
            <li>- Дата решения: {{exchange.updated_at| date:"d.m.Y H:i"}}</li>
        </ul>
        <!-- Кнопка "Принять" -->
        <form method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="action" value="accept">
            <button type="submit" class="btn-hand text-success">Принять</button>
        </form>

        <!-- Кнопка "Отклонить" -->
        <form method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="action" value="reject">
            <button type="submit" class="btn-hand text-danger">Отклонить</button>
        </form>
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}