{% extends 'platform_for_sharing/includes/basic_design.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block header %}
{% include 'platform_for_sharing/includes/header_menu.html' %}
<div class="col-8 pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Platform for sharing</h1>
    <h5 class="display-8">Отдайте то, что вам <span style="color: #F00;">не нужно</span> и заберите то, что вам <span style="color: #77dd77;">необходимо</span>!</h5>
    <form class="col-24 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="get">
        <input type="search" name="search" class="form-control form-control-dark text-bg-white"
               placeholder="Введите ключевое слово..."
               aria-label="Search" value="{{ request.GET.search }}">
        <div class="row mt-2">
            <div class="col-6">
                <select class="form-select" name="category">
                    <option selected>Выберите категорию</option>
                    {% for category in categories %}
                    <option value="{{category}}">{{category}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-6 mt-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="condition" type="checkbox" id="inlineCheckbox1" value="новый">
                    <label class="form-check-label" for="inlineCheckbox1">Новый</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="condition" type="checkbox" id="inlineCheckbox2" value="б/у">
                    <label class="form-check-label" for="inlineCheckbox2">Б/У</label>
                </div>
            </div>

        </div>

        <input type="submit" value="Фильтровать" class="mt-1 btn-hand">
    </form>
</div>
{% endblock %}

{% block content %}
<div class="row text-center mt-5">
    {% for ad in ads %}
    {% if ad.user != request.user %}
        <div class="col-3">
            <a href="{% url 'platform_for_sharing:ad_detail' ad.pk%}" class="card mb-4 box-shadow" style="text-decoration: none;">
                <div class="card-header">
                    <img src="{% if ad.image_url %}{{ ad.image_url }}{% else %}{% static 'platform_for_sharing/no_photo.jpg'%}{% endif %}" width="200" height="200" style="object-fit: cover;">
                    <h4 class="my-0 font-weight-normal">{{ ad.title }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ ad.description|truncatechars:30 }}</li>
                        <li>- Категория: {{ ad.category|truncatechars:30 }}</li>
                    </ul>
                </div>
            </a>
        </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}