{% extends 'platform_for_sharing/includes/basic_design.html' %}
{% load my_tags %}
{% block title %}Вход{% endblock %}

{% block header %}
{% include 'platform_for_sharing/includes/header_menu.html' %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Platform for sharing</h1>
    <p class="lead">Вход на сайт</p>
</div>

{% endblock %}

{% block content %}
<div class="row text-center">
    <div class="col-4"></div>
    <div class="col-4 text-center shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-body">
            <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    {{ form.as_p }}
                    <button type="submit" class="btn-hand">
                        Войти
                    </button>
                    <a class="btn-hand text-warning"
                       href="{% url 'platform_for_sharing:home' %}">Назад</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}